<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Achivements </title>
    <!-- jQuery -->
    <script src="../source\jquery\jquery.slim.min.js"></script>
   
    <link href="../source\bootstrap-4.6.1\css\bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../source\bootstrap-4.6.1\js\bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../source\bootstrap-4.6.1\js\bootstrap.min.js" type="text/javascript"></script>
    
    <link href="../Style/Achievements.css" rel="stylesheet">
    <script src="../script/Achievements.js"></script>
  </head>

  <body>
    
   <!-- YOU CAN MAKE YOUR CODE INSIDE div class="container" --> 
   <div class="container-fluid">
      <!----------------------------------------THIS IS HEADER-------------------------------------------------------- -->
      <div class="container-fluid">     
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-danger">
            <header class="section-header">
              <div class="content">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href="./Homepage.html"><strong><i><h2><u>BIOGRAPHY</u></h2></i></strong></a>
          
                  <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="./Homepage.html">Home </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link" href="./Insights.html">Insights </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Reference.html"> Reference </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Register.html"> Register </a>
                      </li>
          
                      <li class="nav-item">
                        <a class="nav-link" href="./Contacts.html"> Contacts </a>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="./AchievementsAndNobelPrizes.html" data-toggle="dropdown">Achievements &Nobel Prizes </a>
                        <ul class="dropdown-menu fade-up">
                          <li>
                            <a class="dropdown-item" href="./Achievements.html"> Achievements </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="./All Nobel Prizes.html">Nobel Prizes </a>
                          </li>
                        </ul>
                      </li>
                     
                    </ul>
                    <ul class="navbar-nav ml-auto">
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                      </form>
                    </ul>
                  </div>
                  <!-- navbar-collapse.// -->
                </nav> 
              </div>
            </header>
          </div>
        </div>
      </div>
      <!----------------------------------------THIS IS HEADER-------------------------------------------------------- -->
      <br><br><br><br>
      <!----------------------------------------THIS IS PAGE CONTENT-------------------------------------------------------- -->
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-------------------------------------------------div Menu------------------------------------------------------------->
          <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 bg-dang er">
            <div class="sticky">
              <h1 align="center" style="color:rgb(70, 107, 19)">Menu</h1>
              <hr>
              <ul>
                <a href="#1" style="text-decoration:none;"> I) ALBERT EINSTEIN PROVIDED EMPIRICAL EVIDENCE FOR THE ATOMIC THEORY</a><br>
                <a href="#2" style="text-decoration:none;" > II) HE ENABLED THE DETERMINATION OF AVOGADRO’S NUMBER AND THEREFORE THE SIZE OF MOLECULES</a><br>
                <a href="#3" style="text-decoration:none;"> III) EINSTEIN SOLVED THE RIDDLE OF THE PHOTOELECTRIC EFFECT</a><br>
                <a href="#4" style="text-decoration:none;"> IV) HE PROPOSED THE SPECIAL THEORY OF RELATIVITY</a><br>
                <a href="#5" style="text-decoration:none;"> V) EINSTEIN CAME UP WITH THE CONCEPT OF REST ENERGY THROUGH HIS FAMOUS EQUATION</a><br>
                <a href="#6" style="text-decoration:none;"> VI) HE PROPOSED THE GENERAL THEORY OF RELATIVITY</a><br>
                <a href="#7" style="text-decoration:none;"> VII) HE COLLABORATED WITH BOSE TO PREDICT THE EXISTENCE OF BOSE–EINSTEIN CONDENSATE</a><br>
                <a href="#8" style="text-decoration:none;"> VIII) HIS DEBATES WITH NIELS BOHR BROUGHT QUANTUM MECHANICS IN FOCUS</a><br>
                <a href="#9" style="text-decoration:none;"> IX) ALBERT EINSTEIN WAS AWARDED THE NOBEL PRIZE IN PHYSICS IN 1921</a><br>
                <a href="#10" style="text-decoration:none;"> X) HIS WORK HAD PROFOUND AND FAR REACHING IMPLICATIONS</a><br>
              </ul>
            </div>
          </div>
          <!--------------------------------------------------div Menu------------------------------------------------------------>
           <!----------------------------------------This is menu contenr--------------------------------------------------------->
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
             <div class="pading" align="center">
              <h1 align="center" style="font-weight:bold ; text-shadow: 2px 2px 51px rgb(38, 15, 164)">
                10 MAJOR ACCOMPLISHMENTS OF ALBERT EINSTEIN
              </h1>
              <hr>
              <h4 align="left">Albert Einstein contributed, perhaps more than any man in history,
                 in the development of our world. His four Annus Mirabilis (‘miracle year’) papers,
                  which were released in 1905, laid the foundation of modern physics and changed views on space,
                   time, mass, and energy. Here are 10 major accomplishments of the great scientist.</h4>
              <hr>
                <div class="contentpage">
                  
                        <!--------------------------------------------First content------------------------------------------------------------>
                  
                    <div class="container-fluid" id="container01">
                      <h5 id="1"><i><u><strong>#1 ALBERT EINSTEIN PROVIDED EMPIRICAL EVIDENCE FOR THE ATOMIC THEORY</strong></u></i></h3>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                          <div class="pading">
                            In 1827, Robert Brown observed pollen grains in water through a microscope and found that they 
                            moved through water but was not able to determine the mechanisms that caused this motion. In 1905,
                            Albert Einstein published a paper on this random motion of particles in a fluid, known as Brownian motion.
                            Einstein explained in precise detail how the motion that Brown had observed was a result of the pollen being 
                            moved by individual water molecules. Though atoms and molecules had long been theorized by scientists, Einstein’s 
                            explanation of Brownian motion served as definitive confirmation that atoms and molecules actually exist. 
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <div align="center" class="imagecontent">
                            <img  src="../image/firstcontent-.png" width="400px"><br>
                            <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text"><u>Robert Brown – who first observed Brownian motion</u></figcaption><br>
                        </div>
                        </div>
                        <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                          
                      </div> 
                    </div><hr>
                  <!--------------------------------------------First content------------------------------------------------------------>
                  <!--------------------------------------------Second content------------------------------------------------------------>
                  
                  <div class="container-fluid" id="container01">
                    <h5 id="2"><i><u><strong>#2 HE ENABLED THE DETERMINATION OF AVOGADRO’S NUMBER AND THEREFORE THE SIZE OF MOLECULES</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          During his explanation of Brownian motion, Einstein determined the size of atoms, and how many atoms there are in a mole.
                          He enabled the experimental determination of Avogadro’s number and therefore the size of molecules. Einstein’s statistical 
                          discussion of atomic behavior gave experimentalists a way to count atoms by looking through an ordinary microscope. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/second.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text"><u>A Diagram of Brownian Motion</u></figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------Second content------------------------------------------------------------>
                  <!--------------------------------------------third  content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="3"><i><u><strong>#3 EINSTEIN SOLVED THE RIDDLE OF THE PHOTOELECTRIC EFFECT</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          Photoelectric Effect is the emissions of electrons from a metal when light shines on it. 
                          Scientists were puzzled with this effect as it couldn’t be explained with Maxwell’s wave theory of light. 
                          In his revolutionary paper, released on June 9, 1905, Einstein challenged the wave theory of light and suggested that 
                          light could also be regarded as a collection of discrete energy packets (photons). 
                          Initially Einstein’s particle theory of light was universally rejected by physicists until it was experimentally verified 
                          by Robert A. Millikan about a decade later. Einstein’s discovery was pivotal in establishing the field of quantum mechanics.
                          Quantum mechanics in turn explained many features of our universe and is used a great deal in modern technological inventions. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/thirdcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text"><u>A Diagram demonstrating Photoelectric Effect</u></figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------third Content------------------------------------------------------------>
                  <!--------------------------------------------fourth Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="4"><i><u><strong>#4 HE PROPOSED THE SPECIAL THEORY OF RELATIVITY</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          The inconsistencies of Newtonian mechanics with Maxwell’s equations of electromagnetism led Einstein to write his legendary
                          paper ‘On the Electrodynamics of Moving Bodies‘ which was published on September 26, 1905. Einstein proposed major changes 
                          to mechanics while handling situations close to the speed of light. This later became known as Einstein’s special theory of 
                          relativity. It was supported by confirmatory experimental evidence and soon gained widespread acceptance. As of today, 
                          special relativity is the most accurate model of motion at any speed. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/fourthcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>A diagrammatic representation of spacetime which was introduced in Special theory of Relativity</u>
                          </figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------fourth Content------------------------------------------------------------>
                  <!--------------------------------------------fifth Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="5"><i><u><strong>#5 EINSTEIN CAME UP WITH THE CONCEPT OF REST ENERGY THROUGH HIS FAMOUS EQUATION</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          In relation to his theory of special relativity, Albert Einstein predicted the equivalence of mass (m) and energy (E) 
                          through his famous mass–energy equivalence formula E=mc2, where c is the speed of light in vacuum. This was of paramount 
                          importance because it showed that a particle possesses an energy called the “rest energy”, distinct from its classical 
                          kinetic and potential energies. It implied that gravity had the ability to bend light and could be used to calculate the
                          amount of energy released or consumed during nuclear reactions. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/fifthconntent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>Perhaps the most famous scientific formula</u></figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------fifth Content------------------------------------------------------------>
                  <!--------------------------------------------sixth Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="6"><i><u><strong>#6 HE PROPOSED THE GENERAL THEORY OF RELATIVITY</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          In 1916 Einstein published his general theory of relativity, which generalizes special relativity and Newton’s 
                          law of universal gravitation, providing a unified description of gravity as a geometric property of space and time, 
                          or spacetime. General relativity helped to model the large-scale structure of the universe and its predictions have
                          been confirmed in all observations and experiments to date. It has developed into an essential tool in modern astrophysics 
                          providing understanding of phenomena like black holes and gravitational lensing. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/sixthcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>2D projection of a 3D analogy of spacetime curvature described in general relativity</u></figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------sixth Content------------------------------------------------------------>
                  <!--------------------------------------------seventh Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="7"><i><u><strong>#7 HE COLLABORATED WITH BOSE TO PREDICT THE EXISTENCE OF BOSE–EINSTEIN CONDENSATE</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          In 1924, Einstein received a paper from Indian physicist Satyendra Nath Bose on a counting method that assumed 
                          that light could be understood as a gas of indistinguishable particles. Einstein submitted the German translation 
                          of the paper to a journal. In collaboration with Bose, Einstein extended the idea to atoms and this led to the prediction 
                          of the existence of phenomena which became known as Bose–Einstein condensate. It was not until 1995 that the first 
                          such condensate was produced experimentally.
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/seventhcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>The existence of Bose</u></figcaption><br>
                      </div>
                      </div>
                    
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------seventh Content------------------------------------------------------------>
                  <!--------------------------------------------eighth Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="8"><i><u><strong>#8 HIS DEBATES WITH NIELS BOHR BROUGHT QUANTUM MECHANICS IN FOCUS</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          Albert Einstein and Niels Bohr were involved in a series of public debates about quantum mechanics. 
                          These debates are remembered as they are considered important to the philosophy of science. They not only represented
                          one of the highest points of scientific research in the first half of the twentieth century but they also brought to 
                          focus an element of quantum theory, namely quantum non-locality, which is absolutely essential in our modern 
                          understanding of the physical world.
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-dark"></div> -->
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/eighthcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>Niels Bohr (left) with Albert Einstein</u></figcaption><br>
                      </div>
                      </div>
                      <!-- <div class="col-sm-4 col-md-4 col-lg-2 col-xl-4 bg-dark"></div> -->
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------eighth Content------------------------------------------------------------>
                  <!--------------------------------------------ninth Content------------------------------------------------------------>
                  <div class="container-fluid" id="container01">
                    <h5 id="9"><i><u><strong>#9 ALBERT EINSTEIN WAS AWARDED THE NOBEL PRIZE IN PHYSICS IN 1921</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          In 1921, Albert Einstein was awarded the Nobel Prize in Physics “for his services to theoretical physics and 
                          especially for his discovery of the law of the photoelectric effect”. In 1925, he was awarded the Copley Medal
                          by the Royal Society, which is perhaps the oldest surviving scientific award in the world. Einstein received numerous 
                          other awards and honors including Gold Medal of the Royal Astronomical Society in 1926, Matteucci Medal in 1921, 
                          Max Planck Medal in 1929 and Franklin Medal in 1935. In 1999, Time magazine named Albert Einstein as the Person of 
                          the Century. 
                          
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/ninthcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>TIME Person of the Century – Albert Einstein</u></figcaption><br>
                            
                      </div>
                      </div>

                        
                    </div> 
                   
                  </div><hr><hr>
                  <!--------------------------------------------ninth Content------------------------------------------------------------>
                  <!--------------------------------------------tenth Content------------------------------------------------------------>
                  
                  
                  <div class="container-fluid">
                    <h5 id="10"><i><u><strong>#10 HIS WORK HAD PROFOUND AND FAR REACHING IMPLICATIONS</strong></u></i></h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                        <div class="pading">
                          Albert Einstein’s scientific theories accelerated the development of the world like never before and he
                          gave scientists the tools to mold almost every observable aspect of life as we live today. From nuclear 
                          energy production to synchronization of GPS satellites to computers to many everyday consumer products; 
                          all can be traced or linked to Einstein’s work. His impact is not just restricted to science it can be seen 
                          in other fields like philosophy, visual arts and literature. Philosophical movement logical positivism, 
                          art movement Cubism and numerous science fiction novels bear the imprint of Einstein. Albert Einstein changed 
                          the world perhaps more than anyone has ever done in its history. 
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div align="center" class="imagecontent">
                          <img  src="../image/tenthcontent.png" width="400px"><br>
                          <figcaption id="caption-attachment-8200" align="center" class="wp-caption-text">
                            <u>His work had profound and Far reaching implications</u></figcaption><br>
                      </div>
                      </div>
                      
                        
                    </div> 
                  </div><hr>
                  <!--------------------------------------------tenth Content------------------------------------------------------------>
                
                  <!-- this is comment -->
                  <section id="app">
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                          <div class="comment">
                          <p v-for="items in item" v-text="items"></p>
                          
                          </div><!--End Comment-->
                          </div><!--End col -->
                          </div><!-- End row -->
                          

                        <div class="row align-items-left">
                          <div align="left" class="col-12">
                            Name :<input type="Name" v-model="newItem1">
                          <textarea  type="text" class="input" placeholder="Write a comment" v-model="newItem2" @keyup.enter="addItem()"></textarea>
                          
                          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                          </div><!-- End col -->
                      </div><!--End Row -->
                    </div><!--End Container -->
                  </section><!-- end App -->
                  
                  <section>
                    <div class="rt-container">
                          <div class="col-rt-12">
                              <div class="Scriptcontent">
                              
                <!-- partial:index.partial.html -->
                <!-- end App -->
                  <!-- partial -->
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
                  <script  src="../script/Achievements.js"></script>
                           
                        </div>
                    </div>
                    </div>
                </section>
                  <!-- this is comment -->

                </div>
             </div>
             
          </div>
          <br>
          <!-----------------------------------------This is menu contenr--------------------------------------------------------->
          <!-----------------------------------------This is Image Nobelprize----------------------------------------------------->
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="imagelink01" align="center">
                <a href="../All Nobel Prizes.html">
                  <img  src="../image/nobelprize.png" alt="" width="300px">
                  <figcaption id="caption-attachment-8200"  class="wp-caption-text">
                    <u><i>The Nobel Prize in Physics 1921</i></u></figcaption><br>
                </a>
              </div> 
            </div>
          <!-----------------------------------------This is Image Nobelprize----------------------------------------------------->
        </div>
      </div>
      <!----------------------------------------THIS IS PAGE CONTENT-------------------------------------------------------- -->
     <br><br>
  </div>
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row align-items-left">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacts</h5>
          
          <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <div class="panel-body" align="left">
                <p>Nguyen Hong Quan : lactuong64@gmail.com</p>
                <p>Nguyen Quang Truong : tnquangtruong6@gmail.com</p>
                <p>Nguyen Quoc Hien : nguyenquochien0123@gmail.com</p>
                <p>Nguyen Tan Hung : Tanhung.nguyen270799@gmail.com </p>
              </div>
          </div>
          
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Thank You</h5>
  
          <p>
            Thanks to Aptech program, we have learned a lot of quality knowledge. Hope the teachers 
            are satisfied with our eProject
          </p><br><br>
          <i class="fa fa-sign-in" aria-hidden="true">Signed: Group 02</i>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://www.w3schools.com/">https://www.w3schools.com</a>
    </div>
    <!-- Copyright -->
  </footer>

  </body>

</html> 