/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
   
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: .8s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
   

  }

 .fix{font-size:0.7vw;}
}

/* ============ desktop view .end// ============ */
body {
    background-image: url("../image/background.png");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

/* ___________________________________________________________________________________________-- */

* {
  box-sizing: border-box;
  font-size:1vw;
  line-height:1vw;

}

header
{
  position: fixed;
  max-width: 100%;
  min-width: 100%;
  left: 0%;
  z-index: 1000 ; /* set for header on top*/
}

/* logo */
.animation{
  color:rgb(4, 112, 112);font-weight:bold;font-size:400% ; text-shadow: 3px 3px 5px rgb(60, 213, 240);
 

}
.animation:hover{
  animation: ex 0.5s infinite linear  alternate-reverse ;
}

@keyframes ex{
 
  from{
    color:rgb(12, 54, 54);
    transform: rotate(-5deg);
  }
   
  to {  
    
    transform: rotate(5deg);
    color:rgb(52, 77, 82);
  }
}
/* bottomlogo */
/* .title{
  animation: ey 5s infinite linear;

} */


/* .title{
  animation:ee 5s infinite linear alternate-reverse;
  position: absolute; }
@keyframes ee {
  0% {
    transform: rotate(0deg);
    left: 0px;
   color: red;
}
16% {
    transform: rotate(20deg);
    left: 0px;
    color: orange;
}
33% {
    transform: rotate(0deg);
    left: 37%;
    color: yellow;
}
50% {
    transform: rotate(0deg);
    left: 37%;
    color: green;
}

66% {
    transform: rotate(0deg);
    left: 37%;
    color: blue ;
}
83% {
    transform: rotate(-180deg);
    left: 17%;
    color: Indigo;
}
100%{
  transform: rotate(-360deg);
  color: violet;
  left:0px;
}
} */
@media all and (max-width: 992px) {
  *{    font-size:1.7vw;
    line-height:2.7vw}
  .fix{
    font-size:1.5vw;
    line-height:2vw
  }
  
 }
